:root {
    --black : #000000;
    --purple: #5B0464;
    --white: #FFFFFF;
}

/* Fontes */

.black {
    color: var(--black);
}

.white {
    color: var(--white);
}

.purple {
    color: #7E058A;
}