/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

@font-face {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Sansation_Regular.ttf')
}

@font-face {
    font-family: 'Sansation';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/Sansation_Bold.ttf')
}

.montserrat {
    font-family: Montserrat;
}

.sansation {
    font-family: 'Sansation', sans-serif;
}

.sansation-bold {
    font-family: 'Sansation', sans-serif;
    font-weight: bold;
}