@import url('./colors.css');
@import url('./font.css');
@import url('./reset.css');

a:hover {
    color: rgb(166, 165, 165);
}

a {
    transition: 200ms;
}

body {
    background-color: var(--black);
    padding: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}